body {background: url("https://images.unsplash.com/photo-1503177847378-d2048487fa46?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f8b28e6a318b7c126e31813199050b9b&auto=format&fit=crop&w=667&q=80");background-size: cover;}
#container {background: rgba(0, 0, 0, 0.5);} 
body {color: white; text-shadow: 5px 5px 12px 5px;}
.item {border: dashed 5px red; color: blue;}

.highlighted {
    background: orange;
    border: dashed 5px yellowgreen;
}